:root {
	--blue-hsl: 215, 60%, 60%;
	--overlay-blur: hsla(var(--blue-hsl), 0.2);
	--accent-light: 186, 230, 253;
	--accent-dark: 38, 89, 184;
	--accent-white: 255, 255, 255;
	--title-color: 72, 121, 200;
}

:root[data-theme='light'] {
	--blue-hsl: 215, 85%, 65%;
	--accent-light: 2, 132, 199;
	--accent-dark: 60, 105, 188;
	--accent-white: 38, 89, 184;
	--title-color: 72, 121, 200;
}

[data-has-hero] .page {
	background:
		linear-gradient(215deg, var(--overlay-blur), transparent 40%),
		radial-gradient(var(--overlay-blur), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
		radial-gradient(var(--overlay-blur), transparent 65%) no-repeat 50% calc(100% + 20rem) /
			60rem 30rem;
}

[data-has-hero] header {
	border-bottom: 1px solid transparent;
	background-color: transparent;
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}

[data-has-hero] h1 {
	--accent-gradient: linear-gradient(
		20deg,
		rgb(var(--accent-light)),
		rgb(var(--accent-dark)) 30%,
		rgb(var(--accent-white)) 60%
	);
	background-image: var(--accent-gradient);
	font-weight: bold;
	clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 300%;
	background-position: 10%;
    padding-bottom: 0.1em;
}

.astro-7zuczd3f {
	color: rgb(var(--title-color));
}

[data-has-hero] .hero > img {
	filter: drop-shadow(0 0 3rem var(--overlay-blur));
	animation: float 4s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}

mjx-container svg {
	display: inline !important;
}
